input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select {
  width: 100%;
  text-indent: 1em;
}

button, input[type="button"], input[type="reset"], input[type="submit"],
.btn,
.label__value {
  box-sizing: border-box;
  min-width: 48px;
  padding: 0 1em;
  text-align: center;
}

input,
button, input[type="button"], input[type="reset"], input[type="submit"] {
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
}

select {
  display: inline-block;
  height: 48px;
  vertical-align: middle;
}

.label__group {
  overflow: hidden;
  display: block;
  border-radius: 3;
  border: 1px inset #ccc;
}
.label__value {
  float: left;
  display: inline-block;
  line-height: 48px;
  background-color: #eee;
}
.label__input {
  overflow: hidden;
  border-left-width: 0;
}
.label__input input {
  padding: 0;
  border: none;
}
